
html,
body,
.container,
.custom-row{
    height: 100vh;
}
*{
    font-weight: bold;
}
body{
    background-color: #e6e4e5;
}
#myForm{
    box-shadow: 0 5px 9px 3px #a3a2a2;
    border-radius: 10px;
    width: 225px;
}
.display{
    height: 100px;
    font-size: 40px;
    background-color: #a9f3bf;
    border-radius: 10px 10px 0 0;
}
input{
    border: none;
    background-color: #efefef;
    width: 29px;
    height: 29px;
    border-radius: 35px;
    text-align: center;
}
.display input{
    background-color: #a9f3bf;
    text-align: right;
}
p{
    font-size: 13px;
    margin:3px -10px 0 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.btnEquel{
    width: 62px;
}
